body {
    background: linear-gradient(rgb(74, 150, 250), rgb(98, 0, 255));
    background-repeat: no-repeat;
    height: 98cqmax;
    border: 2px solid white;
    text-align: center;
}
header {
    width: 200px;
    text-align: center;
    padding: 5px 150px;
    margin: 30px auto;
    color: white;
    text-shadow: 2px 1px 0px black;
}
section {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 100px auto;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.532);
}
div#d1 {
    width: 200px;
    height:40px;
    margin: 10px auto;
    font-style: arial;
    font-size: 20px;
}
/*div#d2 {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100px;
    margin: auto;

}*/
footer.arroba{
    color: white;
    font-style: italic;
}
img#imagem {
    border: 2px solid black;
    border-radius: 100px;
    margin-top: 20px;
}